
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Name:Linus</p>
          <p class="card-text">Class:1</p>
          <p class="card-text">Course:CS</p>
          <p class="card-text">Place:Kottayam</p>
          <p class="card-text">Age:26</p>
          <button (click)="backfn()">Back</button>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Name:Amal</p>
            <p class="card-text">Class:11</p>
            <p class="card-text">Course:CS</p>
            <p class="card-text">Place:Kottayam</p>
            <p class="card-text">Age:21</p>
            <button (click)="backfn()">Back</button>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">Name:Amal</p>
              <p class="card-text">Class:12</p>
              <p class="card-text">Course:CS</p>
              <p class="card-text">Place:Kottayam</p>
              <p class="card-text">Age:26</p>
              <button (click)="backfn()">Back</button>

    
            </div>
          </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Name:Amal</p>
                <p class="card-text">Class:11</p>
                <p class="card-text">Course:CS</p>
                <p class="card-text">Place:Kottayam</p>
                <p class="card-text">Age:21</p>
                <button (click)="backfn()">Back</button>

              </div>
            </div>
          </div>
        </div>
        <div>
          <button (click)="findperc()">Find the Percentage</button>

        </div>

       
    
   
    
    
    